name: Deploy master on prod 

on:
  push:
    branches:
    - master

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: purechat
  GKE_ZONE: us-central1-a
  DEPLOYMENT_NAME: health-clj-project
  IMAGE: health-clj-project

jobs:
  setup-deploy:
    name: Setup and Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: '290.0.1'
        service_account_key: ${{ secrets.GKE_SA_KEY }}
        project_id: ${{ secrets.GKE_PROJECT }}

    - run: |-
        gcloud --quiet auth configure-docker

    - run: |-
        gcloud container clusters get-credentials "$GKE_CLUSTER" --zone "$GKE_ZONE"

    - name: Deploy
      run: |-
        kubectl set image "deployment/$DEPLOYMENT_NAME" "$IMAGE"="gcr.io/$PROJECT_ID/$IMAGE:$GITHUB_SHA"
